/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
}
nav.flex{
    justify-content: space-between;
    align-items: center;
}
nav #nav-bar{
    display: none;
}
nav .logo{
    max-width: 150px;
}
nav .list ul{
    display: flex;
    align-items: center;
}
nav .list ul li{
    padding-left: 1.5rem;
    font-weight: 600;
}
nav .list ul li button{
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    outline: none;
    border: none;
}
nav .list ul li:nth-child(6) button{
    background: var(--blue-color);
    color: #fff;
}
/* LOADER */
.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .container{
    max-width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
.loader .container .dots{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
}
.loader .container img:nth-child(1){
    width: 100%;
}
.loader .container img:nth-child(2){
    transform: translateX(-20px) scale(150%) translateY(2px);
}
.dot{
    width: 10px;
    height: 10px;
    background: #bdbdbd;
    border-radius: 50%;
}
.dot1{
    animation: dot1 2s linear infinite;
}
.dot2{
    animation: dot2 2s linear infinite;
}
.dot3{
    animation: dot3 2s linear infinite;
}

@keyframes dot1 {
    10% { background: #333; }
    30% { background: #888; }
}
@keyframes dot2 {
    30% { background: #333; }
    60% { background: #888; }
}
@keyframes dot3 {
    60% { background: #333; }
    90% { background: #888; }
}


/* HOME */
#home{
    margin-top: 8rem;
}
#home.grid{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
#home .contents .heading span{
    word-spacing: 2rem;
}
#home .contents p{
    font-size: 1.2rem;
    color: #222;
    text-transform: capitalize;
    margin: 2rem 0;
}
#home .image{
    order: 2;
}
#home .contents .desc{
    color: #5f5f5f;
}
/* ABOUT  */
#about{
    background: var(--secondary-bg);
}
#about.grid{
    grid-template-columns: 3fr 2fr;
}
#about .image img{
    border: 5px dotted var(--yellow-color);
    padding: 5px;
    border-radius: 1px;
}
#about .contents p{
    font-size: 1.3rem;
    color: #111;
}
#about .contents ul li{
    padding: 1rem 0;
}
#about .contents ul li h5 span{
    color: rgb(4, 122, 190);
}
/* HOW */
#how > h2{
    display: inline;
    background: var(--dark-blue-color);
    color: white;
}
#how > h2 span{
    color: var(--light-yellow-color);
}
#how .heading{
    margin: 3rem 0;
}
#how .card-container{
    flex-wrap: wrap;
}
#how .card-container .card .head i{
    font-size: 4rem;
    display: block;
}
#how .card-container .card .head{
    font-size: 1.5rem;
}
#how .card-container .card .body{
    padding: 1rem;
}
/* PROCESS  */
#process .image{
    padding: 1rem;
}

/* HIGHLIGHTS */
#highlights{
    background: var(--blue-color);
}
#highlights.flex{
    justify-content: space-around;
    text-align: center;
}
#highlights .item h4, #highlights .item h1{
    color: #fff;
}

/* EVENTS */
#events .card-container .card{
    padding: 0rem;
    text-align: left;
}
#events .card-container{
    justify-content: flex-start;
}
#events .card-container .card .contents{
    padding: 0.5rem;
}

/* TEAM  */
#team{
    background: var(--secondary-bg);
}
#team .card-container .card .contents{
    padding: 1rem;
    text-align: center;
}

/* CAMPUS  */
#campus{
    background-image: url('../images/mescet-campus-image.jpg');
    background-color: #222222c8;
    background-blend-mode: multiply;
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#campus .container{
    background-color: #fff;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}
#campus .container.grid{
    grid-template-columns: 2fr 4fr;
}

/* CONTACT */
#contact{
    margin: 5rem 0;
}
#contact .grid{
    grid-template-columns: 4fr 2fr;
    justify-items: center;
    align-items: center;
    max-width: 70vw;
    margin: 1rem auto;
}
#contact .grid .form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
#contact .grid .form-container input[type='email'],
#contact .grid .form-container textarea {
    width: 100%;
    border: 1px solid #bebebe83;
    outline: none;
    padding: 1rem;
    background: #e5e5e584;
    resize: none;
}
#contact .grid .form-container .btn{
    width: auto;
}

/* FOOTER  */
footer{
    padding-top: 3rem;
    border-top: 1px solid rgb(152, 152, 152);
}
footer .logo{
    max-width: 200px;
}
footer .grid{
    margin-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
}
footer .grid .flex{
    flex-direction: column;
    gap: 0.7rem;
}
footer .grid .links .link:nth-child(1){
    color: #555;
}
footer .copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

@media (max-width:900px){
    #home.grid,footer .grid , #contact .grid, #campus .container.grid,#about.grid {
        grid-template-columns: 1fr;
    }
    #home .image, #contact .image{
        display: none;
    }
    header{
        z-index: 2;
        height: auto;
    }
    header nav .list{
        width: 100vw;
        text-align: left;
        z-index: 1;
        position: relative;
        height: auto;
        display: none;
    }
    header nav .list ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    header nav .list ul li{
        width: 100%;
        display: block;
        padding: 0.5rem;
        border-top: 1px solid #a9a9a9;
    }
    nav #nav-bar{
        display: inline-block;
    }
    #team .card-container.sub{
        gap: 0.5rem;
    }
    #team .card-container.sub .card{
        width: 150px;
    }
}